<footer>
    <div id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
        <p>Sources:</p>
        <p><a class="data_link" href="https://wonder.cdc.gov/controller/datarequest/D188">CDC cancer data</a></p>
        <p><a class="data_link" href="https://wonder.cdc.gov/controller/datarequest/D76;jsessionid=DF3A61FA9DE1E8C175F3B66B133B">CDC population and death data</a></p>
            <large style="color: white;">During this project, I gathered data from the CDC on cancer deaths. From this data, I created two graphs, ultimately pulling away some valuable information.</large>
        </div>
    </div> 
</footer>
