
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="nav-bar">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navmenue">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Years
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for year in all_years %}
                            <li><a class="dropdown-item" href="/year/{{ year }}">{{year}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
